/* css reset*/
*{
    margin: 0;
    padding: 0;
    
}

html{
    scroll-behavior: smooth;
}
/*css variables*/

:root{
    --navbar-height:59px;
}

/*navigation bar*/

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
 
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 76%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}
/*navigation bar logo and image*/
#logo{
    margin:10px 34px;

}
#logo img{
    height: 59px;
    margin:3px 6px;
     
}
/*navigation bar list style*/
#navbar ul{
    display: flex;
   

}
#navbar ul li{
    height:50px;
    list-style: none;
    font-size: 1.5rem ;
}
#navbar ul li a{
    color:white;
   display: block;
   padding:3px 22px;
   border-radius: 20px;
   text-decoration: none;
    
}#navbar ul li a:hover{
    color: red;
    background-color: aqua;
}

/*home section*/
#home{
    display: flex;
    flex-direction: column;
    height: 578px;
    padding:3px 200px;
    justify-content: center;
    align-items: center
}
#home::before{
    content: "";
    position: absolute;
    background:url('BD.png') no-repeat center center/cover;
    height: 642px;
    top:0px;
    left:0px;
    width:100%;
    z-index: -1;
    opacity: 0.89; 

}
#home h1{
    color:white;
    text-align: center;
    font: size 1.5re;
    font-family: cursive;
}
#home p{
    color:white;
    text-align: center;
    font-size: 3.5rem;
    font-family: fantasy;
}





/*items section*/


#clients{
    margin: 30px;
    display: grid;
    grid-template-columns:repeat(3,400px);
    grid-template-rows: minmax(180px, auto);
    grid-gap: 1.5em;
    justify-content: center;
    padding-top: 20px;
    
     background: url('BD.png');
    }   
    
     #clients .box1{
   /* border:2px solid red;*/
    padding:34px;
    margin: 3px 15px;
    border-radius: 20px;
    background-color: white;
    
    }
    #clients .box1 img{
    /*border: 2px solid brown;*/
    height:100%px;
    width:100%;
    
    
    }
    #clients .box1 p{
   text-align: center;
  font-size: 1.5rem;
    font-family:fantasy;
    }
    


/*service section*/
#services{
    margin:34px;
    display:flex;
    }
    
    
    #services .box{
    border:2px solid red;
    padding:34px;
    margin: 3px 6px;
    border-radius: 20px;
    background-color: rgb(209, 201, 201);
    
    }
    #services .box img{
    /*border: 2px solid brown;*/
    height:160px;
    margin: auto;
    display:block;
    }
    
    #services .box p{
    font-family:arial;
    }
    

/*contact section*/



#footer{
    display:flex;
	background-image: linear-gradient(to right, #3b2e32, #3b2e32);
	padding: 5% 2%;
}

.mid{
   width:30%;
   margin: 29px auto;
}

.social-icon{
	margin: 20px 15px;
	color: white;
}
.social-icon:hover, .ft-a:hover{
	color: #96b411;
}
    
.content .text{
    margin:10px 2opx;
}
/*utility classes*/
.h-primary1{
    font-size: 7rem;
    padding:13px;
}
.h-primary{
    font-size:3.5rem;
    padding:12px;
}

.h-secondary{
    font-size: 2.5rem;
    padding:12px;
}
/*.btn{
    padding:6px 20px;
    border:2px solid white;
    background-color: brown;
    color:white;
    margin:17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;

}*/

.center{
    text-align: center;
}
